.show {
    max-height:50px;
}

.win_warrior1, .win_warrior2{
    padding: 10px;
}

.label1{
    color: #c0c0ff;
}

.label2{
    color: #fec1c1;
}

.games-statistics {
    text-align: center;
    padding-bottom: 10px;
}

.won, .lost {
    padding: 0px;
    font-size: 22px;
}