
  
  .add-warrior-btn {
    font-size: 16px;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #7a44cf;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .warrior-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .warrior-block {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 25px;
    border: 1px solid #444;
    border-radius: 5px;
    width: 50%;
    max-width: 700px;
    margin: 5px auto;
}


@media only screen and (max-width: 1200px) {
    .warrior-block {
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }

    .warrior-block button {
        width: 100%; 
        margin-bottom: 10px; 
    }
}
  
  .warrior-info, .warrior-status, .warrior-actions {
    flex: 1;
  }
  
  .warrior-block h2 {
    margin-top: 0;
  }
  
  .warrior-block .label {
    font-weight: bold;
  }
  
  .warrior-block button {
    background-color: #7a44cf;
    font-size: 16px;
    color: white;
    border: none;
    padding: 10px 15px; 
    cursor: pointer;
    margin-bottom: 5px;
    flex: 1; 
    border-radius: 5px; 
    width: 125%;
  }
  
  .warrior-block .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
.warrior-block button:disabled {
    background-color: #999; 
    cursor: not-allowed; 
  }

  
  .won,.lost {
    padding: 10px;
    margin-top: 5px; 
    font-size: 18px;
  }

  .wl_block{
    font-size: 18px;
    margin-bottom: 10px;
  }

  
  .won {
    color: #00ff00;
  }
  
  .lost {
    color: #ff0000;
  }
  
  .status {
    text-align: center;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .status.busy {
    color: #ff0000;
  }
  
  .status.free {
    color: #00ff00;
  }
  
